<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Camino de menor distancia</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      // This example creates circles on the map, representing populations in North
      // America.

      // First, create an object containing LatLng and population for each city.
    var citymap = {vertice4: {center: {lat:41.927260956, lng:-87.765501609}, color: {fillColor: '#008000', strokeColor: '#008000'} },vertice3: {center: {lat:41.79259236, lng:-87.769615453}, color: {fillColor:'#696969', strokeColor: '#696969'}},vertice2: {center: {lat:41.899602111, lng:-87.633308037}, color: {fillColor:'#696969', strokeColor: '#696969'}},vertice1: {center: {lat:41.874005383, lng:-87.66351755}, color: {fillColor:'#696969', strokeColor: '#696969'}},vertice0: {center: {lat:41.706587882, lng:-87.623366512}, color: {fillColor:'#FF0000', strokeColor: '#FF0000'}}};

      function initMap() {
        // Create the map.
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: 41.881832, lng: -87.623177},
          mapTypeId: 'roadmap'
        });

        // Construct the circle for each value in citymap.
        // Note: We scale the area of the circle based on the population.
        for (var city in citymap) {
          // Add the circle for this city to the map.
          var cityCircle = new google.maps.Circle({
            strokeColor: citymap[city].color.strokeColor,
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: citymap[city].color.fillColor,
            fillOpacity: 0.35,
            map: map,
            center: citymap[city].center,
            radius: 100
          });
        }

        // Define a symbol using a predefined path (an arrow)
        // supplied by the Google Maps JavaScript API.
        var lineSymbol = {
          path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
        };

        // Create the polyline and add the symbol via the 'icons' property.
        var line3 = new google.maps.Polyline({ path: [{lat:41.79259236, lng:-87.769615453}, {lat:41.927260956, lng:-87.765501609}],icons: [{icon: lineSymbol,offset: '100%'}],map: map});var line2 = new google.maps.Polyline({ path: [{lat:41.899602111, lng:-87.633308037}, {lat:41.79259236, lng:-87.769615453}],icons: [{icon: lineSymbol,offset: '100%'}],map: map});var line1 = new google.maps.Polyline({ path: [{lat:41.874005383, lng:-87.66351755}, {lat:41.899602111, lng:-87.633308037}],icons: [{icon: lineSymbol,offset: '100%'}],map: map});var line0 = new google.maps.Polyline({ path: [{lat:41.706587882, lng:-87.623366512}, {lat:41.874005383, lng:-87.66351755}],icons: [{icon: lineSymbol,offset: '100%'}],map: map});
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgW4Wsdf4DaufVkHmsGYcKOkXlqbuqLXo&callback=initMap">
    </script>
  </body>
</html>
